<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="icon" href="{{ url_for('static', filename='images/icon.jpeg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/weather.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/accessibility.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <!-- ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <!-- Navbar -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="title">Weather Service</span>
                    </a>
                </li>
                <li>
                    <a href="#" id="dashboard-link">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" id="support-link">
                        <span class="icon">
                            <ion-icon name="chatbubble-outline"></ion-icon>
                        </span>
                        <span class="title">Support</span>
                    </a>
                </li>
                <li>
                    <a href="#" id="about-link">
                        <span class="icon">
                            <ion-icon name="help-outline"></ion-icon>
                        </span>
                        <span class="title">About</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Main -->
        <div class="main" id="main-content">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <form method="get" action="/">
                        <label>
                            <input type="text" name="city" placeholder="Search here" value="{{ city }}">
                            <ion-icon name="search-outline"></ion-icon>
                        </label>
                    </form>
                </div>

                <div class="api">
                    <img src="{{ url_for('static', filename='images/openweather.png') }}" alt="">
                </div>
            </div>

            <div class="dash" id="weather-content">
                <div class="box">
                <div class="components">
                    <p>
                        Weather in {{ weather_data['city'] }} <span class="country">{{ weather_data['country'] }}</span>
                    </p>

                    <div class="weather">
                        <div class="status">
                            <div class="icon">
                                <img src="http://openweathermap.org/img/wn/{{ weather_data['icon'] }}@2x.png"
                                    alt="weather icon">
                            </div>
                            <div class="condition">{{ weather_data['condition'] }}</div>
                        </div>

                        

                        <div class="temperature">
                            <span class="icon">
                                <ion-icon name="thermometer-outline"></ion-icon>
                            </span>
                            <div class="value">
                                <span class="degree">{{ weather_data['temperature'] }}</span>
                                <span class="unit">°C</span>
                            </div>
                        </div>
                    </div>

                    <div class="details">
                        <div class="card">
                            <div class="title">Humidity</div>
                            <div class="value">{{ weather_data['humidity'] }}%</div>
                        </div>

                        <div class="card">
                            <div class="title">Wind</div>
                            <div class="value">{{ weather_data['wind'] }} km/h</div>
                        </div>

                        <div class="card">
                            <div class="title">Pressure</div>
                            <div class="value">{{ weather_data['pressure'] }} hPa</div>
                        </div>

                        <div class="card">
                            <div class="title">Visibility</div>
                            <div class="value">{{ weather_data['visibility'] }} km</div>
                        </div>

                        <div class="card">
                            <div class="title">Air quality</div>
                            <div class="value">{{ weather_data['aqi'] }}</div>
                        </div>
                    </div>
                </div>

                <div class="forecast">
                    <div class="title">5-Day Weather Forecast</div>
                    <div class="forecast-cards">
                        {% for day in weather_data['forecast'] %}
                        <div class="forecast-card">
                            <div class="forecast-date">{{ day['date'] }}</div>
                            <div class="forecast-icon">
                                <img src="http://openweathermap.org/img/wn/{{ day['icon'] }}@2x.png" alt="forecast icon">
                            </div>
                            <div class="forecast-temp">{{ day['temperature'] }}°C</div>
                            <div class="forecast-condition">{{ day['condition'] }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            </div>

            <div class="dash" id="support-content">
                <div class="hero">
                    <form autocomplete="on" action="/submit_form" method="post">
                        <div class="row">
                            <div class="input-group">
                                <input type="text" id="name" name="name" required>
                                <label for="name">Your Name</label>
                            </div>
                            <div class="input-group">
                                <input type="text" id="number" name="number" required>
                                <label for="number">Phone Number</label>
                            </div>
                        </div>
                        <div class="input-group">
                            <input type="email" id="email" name="email" required>
                            <label for="email">Email Address</label>
                        </div>
                        <div class="input-group">
                            <textarea id="message" name="message" rows="10" required></textarea>
                            <label for="name">Your message</label>
                        </div>
                        <div class="button-group">
                            <button type="submit">SUBMIT</button>
                            <button type="reset">RESET</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="dash" id="about-content">
                <div class="about-container">
                    <div class="about-contents">
                    <h2>About Our Weather Service</h2>
                    <p>
                        Welcome to our Weather Service! Our mission is to provide accurate and up-to-date weather information to help you plan your day, stay safe, and make informed decisions.<br> Whether you're checking the weather for your daily commute, planning a weekend getaway, or preparing for severe weather conditions, we've got you covered.
                    </p>
                    <h3>Our Vision</h3>
                    <p>
                        We aim to be the most reliable and trusted source for weather information worldwide. By leveraging advanced technology and collaborating with leading meteorological organizations, we strive to deliver precise weather forecasts and alerts tailored to your specific location.
                    </p>
                    <h3>Our Services</h3>
                    <ul>
                        <li><strong>Current Weather:</strong> Get real-time updates on temperature, humidity, wind speed, and more.</li>
                        <li><strong>5-Day Forecast:</strong> Plan ahead with our detailed 5-day weather forecasts.</li>
                    </ul>
                    <h3>Our Technology</h3>
                    <p>
                        Our platform uses data from reliable sources such as the OpenWeatherMap API to provide you with the most accurate weather information. Our team of experts continually works to improve our algorithms and data processing methods to ensure you receive the best service possible.
                    </p>
                    <h3>Contact Us</h3>
                    <p>
                        We value your feedback and are here to help with any questions or concerns. Feel free to reach out to our support team through the Support section. We're committed to providing you with excellent customer service and support.
                    </p>
                    <p class="thanks">
                        Thank you for choosing our Weather Service. We're honored to be your go-to source for all your weather needs.
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>