/* Responsive Design */
@media (max-width: 1280px){
    .dash .components .details{
        grid-template-columns: repeat(4, 1fr);
    }
    
}

@media (max-width: 991px){
    .navigation{
        left: -300px
    }

    .navigation.active{
        width: 300px;
        left: 0;
    }

    .main{
        width: 100%;
        left: 0;
    }

    .main.active{
        left: 300px;
    }
}

@media (max-width: 1180px){
    .dash .components .details{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px){
    .dash .components .details{
        grid-template-columns: repeat(2, 1fr);
    }

    .details .card title{
        white-space: nowrap;
    }
}

@media (max-width: 480px) {
    .dash .components .details{
        grid-template-columns: repeat(1, 1fr);
    }

    .user{
        min-width: 40px;
    }

    .navigation{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .navigation.active{
        width: 100%;
        left: 0;
    }

    .toggle{
        z-index: 10001;
    }

    .main.active .toggle{
        color: #fff;
        position: fixed;
        right: 0;
        left: initial;
    }
}